*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}
.hero{
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 16px 50px;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: white;
   
}
.link{
    font-size: 18px;
    font-weight: 350;
}
.navbar_container{
    display: flex;
    gap: 30px;
    margin-right: 180px;
    
}
.user{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: none;
}
.hero .hero_logo{
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    /* background: white; */
}
.hero .hero_heading{
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    margin-top: 30px;
}
.app{
    margin-left: 150px;
    font-weight: 500;
}
/* #search{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
   padding: 15px 100px;
} */
.search_box{
 display: flex;
 justify-content: center;
 margin-top: 25px;
}
input[type="text"]{
    height: 50px;
    width: 550px;
    outline: none;
    border: none;
    padding: 10px 40px;
    border-radius: 0 8px 8px 0;
    background: #fff;
}
input[type="submit"]{
    height: 50px;
    width: 200px;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 8px 0 0 8px;
    background: #fff;
    cursor: pointer;
}

@media only screen and (max-width:700px){
    .navbar_container .link{
        display:none;
        
    }
    .hero{
        min-height: 65vh;
    }
    .user{
        display: flex;
    }
    .navbar{
       
        padding: 10px 20px;
    }
    .navbar_container{
        margin: 10px 20px;
    }
    .app{
        margin: 10px 20px;
    }
    /* #search{
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border-radius: 8px;
        border: none;
        outline: none;
    } */
    .hero .hero_logo{
        height: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 38px;
        /* background: white; */
    }
    .hero .hero_heading{
        text-align: center;
        font-weight: 400;
        font-size: 35px;
        margin-top: 30px;
    }

}