*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}
.hero{
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 16px 50px;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: white;
   
}
.link{
    font-size: 18px;
    font-weight: 350;
    transition: all ease 500ms;
}
.link:hover{
    color: powderblue;
   
}
.navbar_container{
    display: flex;
    gap: 30px;
    margin-right: 180px;
    
}
.user{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: none;
}
.hero .hero_logo{
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* background: white; */
}
.hero .hero_heading{
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    margin-top: 30px;
}
.app{
    margin-left: 150px;
    font-weight: 550;
    font-size: 13px;
}
/* #search{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
   padding: 15px 100px;
} */
.search_box{
 display: flex;
 justify-content: center;
 margin-top: 25px;
}
.city_name_container,.search_container{
display: flex;
}
/* .search_box:hover{
    transform: scale(1.02);
    transition: all ease 0.7s;
} */
#search{
    height: 52px;
    width: 480px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    background: #fff;
}
#city_name{
    height: 52px;
    width: 190px;
    outline:none;
    border:none;
    padding: 10px 1px;
    
    background: #fff;
    /* cursor: pointer; */
}
span{
    display: flex;
    background: white;
    color: rgba(160, 154, 154, 0.655);
    font-size: 23px;
    font-weight: 300;
    align-items: center;
    height: 52px;
}
#search_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 15px 10px;
    width: 42px;
    font-size: 25px;
    /* font-weight: 300; */
    background: #fff;
    color: black;
}
#location_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 15px 10px;
    border-radius: 8px 0 0 8px;
    width: 42px;
    font-size: 25px;
    /* font-weight: 300; */
    background: #fff;
    /* color: black; */

}

.card_container{
    margin-top: 40px;
display: flex;
width: 70%;
height: 250px;
margin-left: auto;
margin-right: auto;
gap: 20px;
}
.card_container_card{
    flex:1;
    /* background: red; */
    border-radius: 15px;
    border: 0.1px solid gainsboro;
    cursor: pointer;
    transition: all ease 0.4s;
}
.card_container_card_img1{
   min-height: 65%;
   background: url(images/item1.png);
   background-position: center;
   border-radius: 15px 15px 0 0;
   background-size: cover;
}
.card_container_card_img2{
    min-height: 65%;
    background: url(images/item2.png);
    background-position: center;
    border-radius: 15px 15px 0 0;
    background-size: cover;
 }
 .card_container_card_img3{
    min-height: 65%;
    background: url(images/item3.png);
    background-position: center;
    border-radius: 15px 15px 0 0;
    background-size: cover;
 }
 .card_container_card_heading{
    padding: 15px 5px 5px 15px;
    font-weight: 400;
    font-size: 20px;
 }
 .card_container_card_heading_para{
    padding: 5px 5px 15px 15px;
    font-size: 15px;
 }
 .card_container_card:hover{
   /* display: none; */
   transform: scale(1.05);
 }
 .collections_div{
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    width: 71%;
    margin-left: auto;
    margin-right: auto;
 }
 .collections_container{
    display: flex;
    justify-content: space-between;
 }
 .collections{
    font-size: 35px;
    font-weight: 400;
 }
 .collections_container p{
    font-size: 17px;
    font-weight: 230;
 }
 .collections_container a{
    text-decoration: none;
    color: rgb(255, 55, 0);
 }
 .collections_card_container{
    margin-top: 30px;
display: flex;
width: 72%;
height: 305px;
margin-left: auto;
margin-right: auto;
gap: 10px;
margin-bottom: 100px;
 }
 .collections_card{
    flex:1;
    /* background: linear-gradient(0deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%); */
    border-radius: 8px;
    height: 100%;
    width: 100%;
    cursor: pointer;
   
 }
 .collections_card_img1{
    height: 100%;
    width: 100%;
    position: relative;
   background:linear-gradient(0deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(images/collection1.jpg) ;
    background-position: center;
    background-size: cover;
    /* opacity: 0.7; */
    border-radius: 8px;
   
}
.collections_card_img1 p{
    position: absolute;
    color: #fff;
   height: 100%;
    margin-top: calc(height - 15px);
}
.collections_card_img2{
    height: 100%;
    width: 100%;
   background:linear-gradient(0deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(images/collection2.jpg) ;
    background-position: center;
    background-size: cover;
    /* opacity: 0.7; */
    border-radius: 8px;
   
}
.collections_card_img3{
    height: 100%;
    width: 100%;
   background:linear-gradient(0deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(images/collection3.jpg) ;
    background-position: center;
    background-size: cover;
    /* opacity: 0.7; */
    border-radius: 8px;
   
}
.collections_card_img4{
    height: 100%;
    width: 100%;
   background:linear-gradient(0deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(images/collection4.jpg) ;
    background-position: center;
    background-size: cover;
    /* opacity: 0.7; */
    border-radius: 8px;
   
}
.link_section{
    display: flex;
    justify-content: space-between;
}
 .footer_sections{
display: flex;
justify-content: space-between;
width: 100%;

background: rgb(248, 248, 248);
margin-left: auto;
margin-right: auto;
flex-direction: column;
 }
 .div_footer_playstore{
    margin-top: 50px;
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
 }
 .div_footer_playstore img{
    height: 30px;
 }
 .div_footer_span{
    display: flex;
    gap: 20px;
    height: 45px;
 }
 .div_footer_span span{
   padding: 5px 10px;
    border: 1px solid rgb(105, 105, 105);
    color: black;
    font-size: 17px;
    background: rgb(248, 248, 248);
    font-weight: 400;
    border-radius:8px ;
    cursor: pointer;
 }
 .footer_container{
    margin-top: 30px;
    display: flex;
    width: 75%;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  
 }
 .footer_container_section{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 30px;
    
    /* background: red; */
    /* justify-content: center;
    align-items: center; */
 }
 .footer_container_section p{
    font-weight: 400;
    margin: 7px 0;
    font-size: 16px;
 }
 .footer_container_section a{
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    font-size: 15px;
    color: rgb(105, 105, 105);
 }
 hr{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-width: 1px 0 0 0;
    border-top-color:rgb(207, 207, 207);
 }
 .terms{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: rgb(105, 105, 105);
    margin-bottom: 50px;
 }
 

@media only screen and (max-width:700px){
    .navbar_container .link{
        display:none;
        
    }
    .hero{
        min-height: 65vh;
    }
    .user{
        display: flex;
    }
    .navbar{
        height: 60px;
        padding: 10px 20px;
    }
    .navbar_container{
        
        margin: 10px 20px;
    }
    .app{
        margin: 10px 20px;
    }
    /* #search{
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border-radius: 8px;
        border: none;
        outline: none;
    } */
    .hero .hero_logo{
        height: 32px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 85px;
        /* background: white; */
    }
    
    .hero .hero_heading{
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        padding: 0 15px 0 15px;
        margin-top: 30px;
    }
    #search{
      width: 80%;
    }
    #city_name{
        width: 80%;
        border-radius:0 8px 8px 0 ;
   
    }
    span{
        display: none;
       
    }
    #search_icon{
      
        border-radius: 8px 0 0 8px;
       
    }
    #location_icon{
       width: 10;
    }
    .search_box{
        flex-direction: column;
        gap: 10px;
     }
     .city_name_container,.search_container{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    .card_container{
        margin-top: 40px;
   flex-wrap: wrap;
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    }
    .card_container_card_heading{
        padding: 8px 5px 5px 15px;
        font-weight: 400;
        font-size: 15px;
     }
     .card_container_card_heading_para{
        padding: 0px 5px 5px 15px;
        font-size: 10px;
     }
     .div_footer_playstore{
        width: 90%;
 
     }
     .div_footer_playstore img{
        height: 30px;
     }
    
     .footer_container{
        width: 90%;
        gap: 5px;
     }
    
     hr{
        margin-left: auto;
        margin-right: auto;
       
        width: 90%;
     }
     .terms{
       width:90%
     }
     
    

}